{
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native-globals",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "react-native-globals/all": true
  },
  "rules": {
    "react/prop-types": 0,
    "@typescript-eslint/semi": [
      "error"
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 1
  }
}